@font-face {
  font-family: "Glass Houses";
  src: url("fonts/glashou.ttf");
}
@font-face {
  font-family: "Alien League";
  src: url("fonts/alienleague.ttf");
}
@font-face {
  font-family: "Alien League Bold";
  src: url("fonts/alienleaguebold.ttf");
}
@font-face {
  font-family: "Alien League Gradient Bold";
  src: url("fonts/alienleaguegradbold.ttf");
  /* src: url("fonts/alienleaguegradbold.eot?") format("eot"),
    url("fonts/alienleaguegradbold.woff") format("woff"),
    url("fonts/alienleaguegradbold.ttf") format("truetype"),
    url("fonts/alienleaguegradbold.svg#AlienLeagueGradientBold") format("svg"); */
  /* font-weight: normal;
  font-style: normal; */
}

@font-face {
  font-family: Galactico;
  src: url("fonts/Galactico-Basic.otf");
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  display: flex;
  background: url(media/flyer-background.jpeg);
  background-size: cover;
}
.flyer-wrapper {
  min-height: 100vh;
  margin: 0 auto;
  width: 1000px;
  /* display: flex; */
  /* justify-content: stretch; */
  /* align-items: stretch; */
}

.flyer {
  min-height: calc(100vh - 100px);
  background: rgba(255, 255, 255, 0.75);
  padding: 25px;
  margin: 50px;
  flex-grow: 1;
  text-align: center;
}

header {
  position: relative;
  width: 100%;
  text-align: center;
}

header .header-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #efefef;
}

header .header-content h1 {
  margin: 0;
  white-space: nowrap;
  font-family: "Glass Houses", Helvetica, Arial, sans-serif;
  text-shadow: 0 0 10px rgba(0,0,0,0.75);
  text-rendering: geometricPrecision;
  font-size: 5.6rem;
}

.subtitle {
  font-family: "Alien League", Helvetica, Arial, sans-serif;
  font-size: 2.4rem;
  font-weight: bold;
  /* color: #efefef; */
  color: purple;
  text-align: center;
}

.subtitle a.ticket-link,
.subtitle a.ticket-link:active,
.subtitle a.ticket-link:visited {
  /* text-decoration: none; */
  color: rgb(137, 196, 255);
}

.tagline h2 {
  text-align: center;
  font-size: 16rem;
  margin: 50px auto;
  font-family: "Alien League Gradient Bold", Helvetica, Arial, sans-serif;
  text-rendering: geometricPrecision;
  color: white;
}

.more-stuff {
  font-family: "Alien League Bold", Helvetica, Arial, sans-serif;
  text-rendering: geometricPrecision;
  font-size: 7.2rem;
  text-align: center;
}

.the-shatter {
  font-family: "Glass Houses", Helvetica, Arial, sans-serif;
  text-rendering: geometricPrecision;
  font-size: 7.2rem;
  white-space: nowrap;
  margin: 20px auto;
  text-align: center;
}

.call-to-action {
  font-family: "Alien League", Helvetica, Arial, sans-serif;
  text-rendering: geometricPrecision;
  color: white;
  font-size: 4.8rem;
  font-weight: bold;
  text-align: center;
}

.showdate {
  text-decoration: underline;
}

.call-to-action a.ticket-link,
.call-to-action a.ticket-link:active,
.call-to-action a.ticket-link:visited {
  /* text-decoration: none; */
  display: block;
  color: rgb(137, 196, 255);
}

.embed-container {
  flex: 1 0 auto;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

article {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
}

footer {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 10px;
}

article a, footer a {
  /* color: rgb(137, 196, 255); */
  color: dodgerblue
}

@media (max-width: 1024px) {
  html {
    font-size: 5px;
  }
  .flyer-wrapper {
    width: 100vw;
    margin: 0;
  }

  .flyer {
    min-height: calc(100vh - 50px);
    margin: 20px;
  }
}
